---
import Layout from "../layouts/Layout.astro";
import Title from "../components/Title.astro";
import ListaDeLibros from "../components/ListaDeLibros.astro";
---

<Layout title="S. boock📚">
	<main class="m-auto max-w-4xl">
		<Title />
		<ListaDeLibros />

	</main>
</Layout>
